<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="nav">
            <h4 id="user"></h4>
        </div>
        <h1>One Saucey Site</h1>
        {{{body}}}
    </body>
</html>