<div class="big-block">
    <h2 id="item-name">{{sauce.name}}</h2>
    <img class="item-img" src="{{sauce.image}}" />
    <button id="like-btn">Like</button>
    <h3>Likes <span id='likes'>{{sauce.likes}}</span></h3>
    <button id="delete-btn">Delete</button>
</div>
<script src='/sauce.js'></script>