<h2>Sign in to your account</h2>
<form action="/signin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br/>
    <button type="submit">Sign In</button>
</form>
<h3>{{userAlert}}</h3>
<a href="/sauces"><h2>Back</h2></a>